<div class="left-container">

  <div class="left-item" style="margin-top: 4rem;">
    <a href="/me/listcourse/js">
      <img src="https://leverageedu.com/blog/wp-content/uploads/2019/11/List-of-Courses-after-10th-Standard.jpg" alt="">
      <p>Course</p>
    </a>
  </div>



  <div class="left-item">
    <a href="/me/music">
      <img src="https://png.pngtree.com/element_our/png_detail/20181112/black-and-white-music-background-png_227797.jpg"
        alt="">
       <p>Music</p>
    </a>
   
  </div>



  <div class="left-item ">
    <a href="/news/sport">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuDwuV4LUgKY4g0p3KG-yP9nYyj_z-ZuOlxw&usqp=CAU"
        alt="">
      <p>News</p>
    </a>
  </div>


  <div class="left-item">
    <a href="/games/sport" class="p-1">
      <img src="https://pbs.twimg.com/profile_images/1041038999836651521/vzeZRWvm_400x400.jpg" alt="">
      <p>Games</p>
    </a>

  </div>

</div>