<div class="d-flex flex-column bg-light mb-3 mx-3 h-100">
 
  <div class="p-2 bd-highlight mt-5">
    <a href="/me/listcourse/js" class="p-1"> 
       <img src="https://leverageedu.com/blog/wp-content/uploads/2019/11/List-of-Courses-after-10th-Standard.jpg"
         alt="" style="width:40px; height:40px; border-radius: 50%"> 
        Course
     </a>
  </div>

  <div class="dropdown-divider my-5"></div>

  <div class="p-2 bd-highlight">
     <a href="/me/music" class="p-1">  
        <img src="https://png.pngtree.com/element_our/png_detail/20181112/black-and-white-music-background-png_227797.jpg"
          alt="" style="width:40px; border-radius: 50%"> 
        Music
     </a>
  </div>

  <div class="dropdown-divider my-5"></div>

  <div class="p-2 bd-highlight ">
    <a href="/news/sport" class="p-1">  
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuDwuV4LUgKY4g0p3KG-yP9nYyj_z-ZuOlxw&usqp=CAU"
         alt="" style="width:40px;height: 40px; border-radius: 50% ;background-color: rgb(75, 56, 56)"> 
      News
     </a>
  </div>

  <div class="dropdown-divider my-5"></div>

  <div class="p-2 bd-highlight">
    <a href="/games/sport" class="p-1">  
      <img src="https://pbs.twimg.com/profile_images/1041038999836651521/vzeZRWvm_400x400.jpg"
        alt="" style="width:40px;height: 40px; border-radius: 50% ;background-color: rgb(75, 56, 56)">
      Game
     </a>
  </div>

</div>