<div class="d-flex flex-column bg-light mb-3 mx-3 h-100">
  <div class="sidebar-title mt-3 mx-1">
    <h4>Events</h4>
    <a href="#">See All</a>
  </div>

  <div class="event">
    <div class="left-event">
      <h3>17</h3>
      <span>August</span>
    </div>
    <div class="right-event">
      <h4>Social Media</h4>
      <p>Will Tech Park</p>
      <a href="#">More info</a>
    </div>
  </div>

  <div class="event">
    <div class="left-event">
      <h3>17</h3>
      <span>August</span>
    </div>
    <div class="right-event">
      <h4>Marketing</h4>
      <p>Will Tech Park</p>
      <a href="#">More info</a>
    </div>
  </div>

  <div class="event">
    <div class="left-event">
      <h3>18</h3>
      <span>August</span>
    </div>
    <div class="right-event">
      <h4>Education</h4>
      <p>Will Tech Park</p>
      <a href="#">More info</a>
    </div>
  </div>

  <div class="event">
    <div class="left-event">
      <h3>18</h3>
      <span>August</span>
    </div>
    <div class="right-event">
      <h4>Science</h4>
      <p>Will Tech Park</p>
      <a href="#">More info</a>
    </div>
  </div>

  <div class="dropdown-divider"></div>

  <div class="sidebar-title mt-3 mx-1">
    <h4>Advertisement</h4>
    <a href="#">Close</a>
  </div>
  <img
    src="https://img.idesign.vn/w660/2018/09/19/idesign_30-chien-dich-quang-cao-ve-moi-truong-gay-chan-dong-du-luan_1.jpg"
    alt="" height="auto" width="100%">

</div>